.container__film {
  margin-top: 100px;
}

.article__film {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 35px;
  justify-items: center;
}

.article__box {
  width: 370px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #b5c1ed;
  border-radius: 5px;
  transition: all 400ms ease;
}

.article__box:hover {
  transform: scale(110%);
}

.article__box h2 {
  height: 50px;
  padding-top: 10px;
  text-align: center;
  background: linear-gradient(to right, #eed7f0, #cfc2ec, #b5c1ed);
  color: white;
}

.article__box p {
  padding: 0 5px;
  font-size: 15px;
  font-weight: 500;
}

.article__box img {
  width: 360px;
  height: 350px;
  margin: auto;
  padding: 2px;
  border-radius: 5px;
}

/* Responsive for Film and Vehicles */

@media screen and (max-width: 500px) {
  .article__film {
    grid-template-columns: 1fr;
  }
  .container__film {
    margin-top: 180px;
  }
}
@media screen and (min-width: 600px) {
  .article__film {
    grid-template-columns: 6fr 6fr;
  }
  .container__film {
    margin-top: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .article__film {
    grid-template-columns: 4fr 4fr 4fr;
  }
}
